*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

#header {
    width: 100%;
    background: black;
    color: white;
}

.text-body-secondary ul li {
    list-style: none;
    font-size: 25px;
}

.text-body-secondary ul li a {
    text-decoration: none;
    color: white;
}

.text-body-secondary ul li a:hover {
    color: rgb(19, 226, 253);
    text-decoration: underline;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #343a40;
    padding: 10px;
    top: 100%;
    left: 0;
    width: 100%;
  }
  
  .submenu li {
    display: block;
  }
  
  .submenu a {
    color: #fff;
  }
  
  .parent-item:hover .submenu {
    display: block;
  }
  
  .parent-item {
    position: relative;
  }

#header h1 {
    color: transparent;
    text-align: center;
    font-size: 150px;
    font-weight: 600;
    background: url(/assets/imgs/back.jpg);
    -webkit-text-stroke: 2px #b0fcff;
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 25s linear infinite;
}

@keyframes back{

    100%{
        background-position: 200% 0;
    }
}

.header-text {
    color: rgb(0, 234, 255);
    text-align: center;
    font-size: 19px;
}

#about {
    padding: 30px 0;
    background: black;
    color: #fff;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px;
    padding: 0;
}